

.travelcard_content {
    line-height: 35px;
    padding: 1.5rem;
  }
  
  .travelcard_image {
    min-width: 200px;
    overflow: hidden;
  }

  .travelcontainer {
    width: 100%;
    padding: 2px;
    position: relative;

  
  }
  .travelcard:active{
      border: 2px solid #0c1946;
      
  }
  .travelcard:hover{
    border: 2px solid #5377ec;
    
}
  .travelcard{
      position: relative;
      cursor: pointer;
      border: 1px solid #0c1946;
      
  }
  
  @media (max-width: 739px) {
    .travelcard{
      border: none;
    }
  }