/* Timeline Container */
.timelinecontainer {
  display: flex;
  align-items: center  ;
  flex-direction: column;
  overflow-y: scroll;
  max-height:70vh;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}
.timelinecontainer::-webkit-scrollbar {
  /* display: none; */
}
@media (max-width: 1024px) {
  .timelinecontainer {
    /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
  }
}
@media (max-width: 739px) {
  .timelinecontainer {
    /* display: none; */
  }
}
