/* Timeline Container */
.timelinecontainer {
  /* background-color: blue; */
  overflow: hidden;
  overflow-y: auto;
  max-height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  /* flex: 1; */
}
@media (max-width: 1024px) {
  .timelinecontainer {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 739px) {
  .timelinecontainer {
    display: none;
  }
}
