
.hidden{
  display: none;
}
.carosel{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.buttoncontainer{
  display: flex;
  justify-content: space-between;

/* background-color: red; */
}
.prevbutton , .nextbutton{
  width: 100%;
    flex: .2;
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    line-height: 27px;
    cursor: pointer;
    outline: none;
    padding: 1 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #5377ec;
}


.travelcontainer {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-gutter: stable both-edges;
  /* flex-direction: column; */
  /* flex-direction: row; */
  max-height: 80vh;
  /* max-width: auto; */
  gap: 1rem;
  padding: 1.5rem;
  border-width: 1px;
  border-radius: 0.5rem;
  position: relative;
}

.travelcontainer::-webkit-scrollbar {
  /* display: none; */
}
@media (max-width: 739px) {
  .travelcontainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: auto;
    margin: auto;
  }
}
