.logform{
  display: flex;
  flex-direction: column;
  
}
.logday{
  flex: 1 1 10ch;
  margin: .5rem;
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;

  
}
.logdescription{
  flex: 1 1 10ch;
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding:  .75rem 1rem;
  align-items: center;

}
.logbutton{
  margin-top: 1rem;;
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem .75rem;
  background: #5377ec;
  color: white;
  box-shadow: 0 .75rem .5rem -.5rem hsl(233, 91%, 46%);
}

@media (max-width: 739px) {
 .logform{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: auto;
   margin: 1px;
 }
 .logday{
   width: 100%;
   padding: auto;
   margin: 1px;
 }
 .logdescription{
   width: 100%;
   padding: auto;
   margin: 1px;
 }
 .logbutton{
   width: 100%;
   padding: auto;
   margin: 1px;
 } 
}