.slug {
  display: flex;
  padding-bottom: 1.25rem;
  gap: 40px;
  /* flex-direction: column; */
}
.formgroup{
  display: flex;
  /* flex-direction: column; */
}


@media (max-width: 1080px) {
  .slug {
    display: flex;
    flex-direction: column;
  }

}
